.Fireworks {
	background: #000;
	width: 100vw;
	height: 100vh;
	left: 0;
	margin-top: 4em;
	padding: 20% 10%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	box-sizing: border-box;
	position: relative;
}

.Fireworks h1 {
	color: #eee;
}

.Fireworks img {
	width: 60%;
}

.FW {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}