.Speech {
	width: 100%;
}

.Speech td {
	vertical-align: top;
	margin: 0;
	padding: .5em 0;
}

.Speech td:first-of-type {
	width: 60%;
}

.Speech td:first-of-type {
	font-weight: bold;
	color: #444;
	padding-right: 1em;
}
